<div class="room-details-booking" *ngIf="!isLoading">
    <p *ngIf="error" class="room-detail-loading">{{ error }}</p>
    <p *ngIf="!roomDetails" class="room-detail-loading">Room not found.</p>
    
    <div *ngIf="roomDetails">
      <h2>Room Details</h2>
      <img [src]="'data:image/jpeg;base64,' + roomDetails.roomPhoto" [alt]="roomDetails.roomType" class="room-details-image" />
   
      <div class="room-details-info">
        <h3>{{ roomDetails.roomType }}</h3>
        <p>Price: ${{ roomDetails.roomPrice }} / night</p>
        <p>{{ roomDetails.description }}</p>
      </div>
  
      <button (click)="handleConfirmBooking()">Book Now</button>
      <button >Go Back</button>
      <form *ngIf="showBookingForm" [formGroup]="bookingForm">
        <label>Check-in Date:</label>
        <input type="date" formControlName="checkInDate">
        <label>Check-out Date:</label>
        <input type="date" formControlName="checkOutDate">
        <label>Adults:</label>
        <input type="number" formControlName="numAdults" min="1">
        <label>Children:</label>
        <input type="number" formControlName="numChildren" min="0">
        <button type="button" (click)="handleConfirmBooking()">Confirm Booking</button>
      </form>
      
      <div *ngIf="totalPrice > 0">
        <p>Total Price: ${{ totalPrice }}</p>
        <p>Total Guests: {{ totalGuests }}</p>
        <button (click)="acceptBooking()">Accept Booking</button>
      </div>
  
      <p *ngIf="showMessage" class="booking-success-message">
        Booking successful! Confirmation code: {{ confirmationCode }}.
      </p>
     <!-- <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>-->
    </div>
  </div>
  <p *ngIf="isLoading" class="room-detail-loading">Loading room details...</p>
  
