
<div class="home">
    <!-- HEADER / BANNER ROOM SECTION -->
    <section>
      <header class="header-banner">
        <img src="./assets/hot4.jpg" alt="Phegon Hotel" class="header-image" />
        <div class="overlay"></div>
        <div class="animated-texts overlay-content">
          <h1>
            Welcome to <span class="phegon-color">Phegon Hotel</span>
          </h1>
          <br />
          <h3>Step into a haven of comfort and care</h3>
        </div>
      </header>
    </section>
  
    <!-- SEARCH/FIND AVAILABLE ROOM SECTION -->
  <!--  <app-room-search (searchResults)="handleSearchResult($event)"></app-room-search>
    <app-room-result [roomSearchResults]="roomSearchResults"></app-room-result>-->
  
    <h4><a class="view-rooms-home" routerLink="/rooms">All Rooms</a></h4>
  
    <h2 class="home-services">Services at <span class="phegon-color">Phegon Hotel</span></h2>
  
    <!-- SERVICES SECTION -->
    <section class="service-section">
      <div class="service-card">
        <img src="./assets/images/ac.png" alt="Air Conditioning" />
        <div class="service-details">
          <h3 class="service-title">Air Conditioning</h3>
          <p class="service-description">
            Stay cool and comfortable throughout your stay with our individually controlled in-room air conditioning.
          </p>
        </div>
      </div>
      <div class="service-card">
        <img src="./assets/images/mini-bar.png" alt="Mini Bar" />
        <div class="service-details">
          <h3 class="service-title">Mini Bar</h3>
          <p class="service-description">
            Enjoy a convenient selection of beverages and snacks stocked in your room's mini bar with no additional cost.
          </p>
        </div>
      </div>
      <div class="service-card">
        <img src="./assets/images/parking.png" alt="Parking" />
        <div class="service-details">
          <h3 class="service-title">Parking</h3>
          <p class="service-description">
            We offer on-site parking for your convenience. Please inquire about valet parking options if available.
          </p>
        </div>
      </div>
      <div class="service-card">
        <img src="./assets/images/wifi.png" alt="WiFi" />
        <div class="service-details">
          <h3 class="service-title">WiFi</h3>
          <p class="service-description">
            Stay connected throughout your stay with complimentary high-speed Wi-Fi access available in all guest rooms and public areas.
          </p>
        </div>
      </div>
    </section>
  
   
    <section></section>
  </div>
  