<section>
    <div class="search-container">
      <div class="search-field">
        <label>Check-in Date</label>
        <input type="date" [(ngModel)]="startDate" placeholder="Select Check-in Date" />
      </div>
  
      <div class="search-field">
        <label>Check-out Date</label>
        <input type="date" [(ngModel)]="endDate" placeholder="Select Check-out Date" />
      </div>
  
      <div class="search-field">
        <label>Room Type</label>
        <select [(ngModel)]="roomType">
          <option disabled value="">Select Room Type</option>
          <option *ngFor="let type of roomTypes" [value]="type">{{ type }}</option>
        </select>
      </div>
  
      <button class="home-search-button" (click)="handleInternalSearch()">Search Rooms</button>
    </div>
  
    <p *ngIf="error" class="error-message">{{ error }}</p>

    
  </section>

  
 <app-room-result-s  [roomSearchResults]="currentRooms"></app-room-result-s>

 
<!--- <section class="room-results">
    <div  class="room-list">
      <div *ngFor="let room of rooms" class="room-list-item">
        <img class="room-list-item-image" [src]="room.roomPhotoUrl" [alt]="room.roomType" />
        <div class="room-details">
          <h3>{{ room.roomType }}</h3>
          <p>Price: ${{ room.roomPrice }} / night</p>
          <p>Description: {{ room.roomDescription }}</p>
        </div>

        >
  
        <div class="book-now-div">
         <button 
            class="edit-room-button" 
            *ngIf="isAdmin" 
            (click)="navigateToRoom(room.id)">
            Edit Room
          </button>
          <button 
            class="book-now-button" 
            *ngIf="!isAdmin" 
            (click)="navigateToRoom(room.id)">
            View/Book Now
          </button>
        </div>
      </div>
    </div>
  </section>-->