<div class="profile-page">
    <h2 >Welcome, {{ user.name }}</h2>
    <div class="profile-actions">
      <button class="edit-profile-button" (click)="handleEditProfile()">Edit Profile</button>
      <button class="logout-button" (click)="handleLogout()">Logout</button>
    </div>
    <p *ngIf="error" class="error-message">{{ error }}</p>
    
    <div class="profile-details">
      <h3>My Profile Details</h3>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Phone Number:</strong> {{ user.phoneNumber }}</p>
    </div>
  
    <div class="bookings-section">
      <h3>My Booking History</h3>
      <div *ngIf="user && user.bookings.length > 0; else noBookings">
        <div *ngFor="let booking of user.bookings" class="booking-item">
          <p><strong>Booking Code:</strong> {{ booking.bookingConfirmationCode }}</p>
          <p><strong>Check-in Date:</strong> {{ booking.checkInDate }}</p>
          <p><strong>Check-out Date:</strong> {{ booking.checkOutDate }}</p>
          <p><strong>Total Guests:</strong> {{ booking.totalNumOfGuest }}</p>
          <p><strong>Room Type:</strong> {{ booking.room.roomType }}</p>
          <img [src]="booking.room.roomPhotoUrl" alt="Room" class="room-photo" />
        </div>
      </div>
      <ng-template #noBookings>
        <p>No bookings found.</p>
      </ng-template>
    </div>
  </div>
  
