// SCSS pour aligner les éléments du navbar
.navbar {
    background-color: #f8f9fa; // Couleur de fond de la navbar
  
    .navbar-brand {
      font-size: 1.5rem;
      font-weight: bold;
      color: #333;
  
      &:hover {
        color: #007bff; // Changement de couleur au survol
      }
    }
  
    .navbar-toggler {
      border-color: #007bff;
      
      .navbar-toggler-icon {
        background-color: #007bff; // Couleur de l'icône du bouton
      }
    }
  
    .navbar-collapse {
      display: flex;
      justify-content: space-between; // Aligner à gauche et à droite
      align-items: center;
    }
  
    .navbar-nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      
      .nav-item {
        margin-right: 15px; // Espacement entre les items de menu
  
        .nav-link {
          display: flex;
          align-items: center;
          font-size: 1rem;
          color: #333;
          text-decoration: none;
          padding: 10px 10px;
          
          &:hover {
            color: #007bff; // Changer la couleur au survol
          }
  
          i {
            margin-right: 4px; // Espace entre l'icône et le texte
          }
        }
      }
    }
  
    .form-inline {
      display: flex;
      align-items: center;
      gap: 15px;
  
      .form-control {
        width: 200px;
        padding: 8px;
      }
  
      .btn {
        padding: 8px 15px;
        font-size: 1rem;
  
        &:first-of-type {
          border-color: #007bff;
          color: #007bff;
        }
  
        &:last-of-type {
          border: none;
          background-color: transparent;
          color: #007bff;
  
          &:hover {
            color: #0056b3; // Changer la couleur au survol
          }
        }
      }
  
      span {
        font-weight: bold;
        color: #333;
      }
  
      .fw-bold {
        font-weight: bolder;
      }
    }
  }
  