
<div class="find-booking-page">
    <h2>Find Booking</h2>
    <div class="search-container">
      <input
        required
        type="text"
        placeholder="Enter your booking confirmation code"
        [(ngModel)]="confirmationCode"
      />
      <button (click)="handleSearch()">Find</button>
    </div>
    <p *ngIf="error" style="color: red">{{ error }}</p>
    <div *ngIf="bookingDetails" class="booking-details">
      <h3>Booking Details</h3>
      <p>Confirmation Code: {{ bookingDetails.bookingConfirmationCode }}</p>
      <p>Check-in Date: {{ bookingDetails.checkInDate }}</p>
      <p>Check-out Date: {{ bookingDetails.checkOutDate }}</p>
      <p>Num Of Adults: {{ bookingDetails.numOfAdults }}</p>
      <p>Num Of Children: {{ bookingDetails.numOfChildren }}</p>
  
      <br /><hr /><br />
      <h3>Booker Details</h3>
      <div>
        <p>Name: {{ bookingDetails.user.name }}</p>
        <p>Email: {{ bookingDetails.user.email }}</p>
        <p>Phone Number: {{ bookingDetails.user.phoneNumber }}</p>
      </div>
  
      <br /><hr /><br />
      <h3>Room Details</h3>
      <div>
        <p>Room Type: {{ bookingDetails.room.roomType }}</p>
        <img [src]="bookingDetails.room.roomPhotoUrl" alt="Room Image" />
      </div>
    </div>
  </div>
  