<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="Name">firstName</label>
      <input id="name" formControlName="name" type="text" />
    </div>

    <div>
        <label for="lastName">PhoneNumber</label>
      <input id="phoneNumber" formControlName="phoneNumber" type="text" />
    </div>
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" />
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        <small>Veuillez entrer un email valide.</small>
      </div>
    </div>
  
    <div>
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" />
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        <small>Le mot de passe est requis.</small>
      </div>
    </div>
    <div>
        <label for="password">R Password</label>
        <input id="rpassword" formControlName="rpassword" type="password" />
        <div *ngIf="registerForm.get('rpassword')?.invalid && registerForm.get('rpassword')?.touched">
          <small>Le mot de passe est requis.</small>
        </div>
      </div>
  
    <button type="submit" [disabled]="registerForm.invalid">save</button>
  </form>
